<template>
    <div v-if="show">
        <div class="row">
            <div class="col-12 text-left">
                <h2>
                    <router-link to="/"><img src="../assets/img/return.svg" /></router-link>
                    Данные персонажа
                </h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-lg-6">
                <b-list-group>
                    <b-list-group-item class="text-left"
                        ><strong>Пол:</strong> {{ detailInfo.gender }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"><strong>Имя:</strong> {{ detailInfo.name }}</b-list-group-item>
                    <b-list-group-item class="text-left"
                        ><strong>Рост:</strong> {{ detailInfo.height }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"><strong>Вес:</strong> {{ detailInfo.mass }}</b-list-group-item>
                    <b-list-group-item class="text-left"
                        ><strong>Цвет волос:</strong> {{ detailInfo.hair_color }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"
                        ><strong>Цвет кожи:</strong> {{ detailInfo.skin_color }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"
                        ><strong>Цвет глаз:</strong> {{ detailInfo.eye_color }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"
                        ><strong>Дата рождения:</strong> {{ detailInfo.birth_year }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left"
                        ><strong>Место рождения:</strong> {{ detailInfo.homeworld }}</b-list-group-item
                    >
                    <b-list-group-item class="text-left">
                        <strong>Фильмы: </strong>
                        <span v-for="(name, index) in detailInfo.films" :key="index">{{
                            index == 0 ? name : ", " + name
                        }}</span>
                    </b-list-group-item>
                    <b-list-group-item class="text-left">
                        <strong>Вид: </strong>
                        <span v-for="(name, index) in detailInfo.species" :key="index">{{
                            index == 0 ? name : ", " + name
                        }}</span>
                    </b-list-group-item>
                    <b-list-group-item class="text-left">
                        <strong>Транспортное средство: </strong>
                        <span v-for="(name, index) in detailInfo.vehicles" :key="index">{{
                            index == 0 ? name : ", " + name
                        }}</span>
                    </b-list-group-item>
                    <b-list-group-item class="text-left">
                        <strong>Звездолет: </strong>
                        <span v-for="(name, index) in detailInfo.starships" :key="index">{{
                            index == 0 ? name : ", " + name
                        }}</span>
                    </b-list-group-item>
                </b-list-group>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "detail",
        data() {
            return {
                detailInfo: {},
                show: false
            };
        },

        created() {
            this.$http.get(this.$route.params.url).then(
                res => {
                    this.detailInfo = res.data;
                    for (let param in this.detailInfo) {
                        if (Array.isArray(this.detailInfo[param])) {
                            if(this.detailInfo[param].length == 0) {
                                this.detailInfo[param] = ['Отсутствует'];
                            }
                            if (this.detailInfo[param][0].indexOf("https://swapi.co/api/") != -1) {
                                let arr = this.detailInfo[param];
                                this.detailInfo[param] = [];
                                for (let i = 0; i < arr.length; i++) {
                                    this.getInfo(arr[i], param, true);
                                }
                            }
                        } else {
                            if (this.detailInfo[param].indexOf("https://swapi.co/api/") != -1) {
                                this.getInfo(this.detailInfo[param], param, false);
                            }
                        }
                    }
                    this.show = true;
                },
                () => {
                    this.$bvToast.toast("Что то пошло не так, повторите попытку позже", {
                        title: "Ошибка",
                        variant: "danger",
                        solid: true
                    });
                }
            );
        },

        methods: {
            getInfo(url, param, isArray) {
                this.$http.get(url).then(
                    res => {
                        if (isArray) {
                            this.detailInfo[param].push(param == "films" ? res.data.title : res.data.name);
                        } else {
                            this.detailInfo[param] = res.data.name;
                        }
                    },
                    () => {
                        this.detailInfo[param] = "Неизвестно";
                    }
                );
            }
        }
    };
</script>
<style scoped></style>
