<template>
    <div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 text-left">
                        <h2>Поиск персонажей</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <b-input-group class="mt-3">
                            <b-form-input
                                v-model="search"
                                @keydown.enter="getPersons"
                                placeholder="Luke"
                                class="input"
                            ></b-form-input>
                            <b-input-group-append>
                                <b-button @click="getPersons" v-if="!loading" variant="outline-success">Найти</b-button>
                                <div class="lds-ring" v-else>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </b-input-group-append>
                        </b-input-group>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <b-list-group :key="1" v-if="Array.isArray(persons)">
                            <b-list-group-item
                                v-for="(person, index) in persons"
                                :key="index"
                                class="item"
                                @click="$store.commit('setElInHistory', { name: person.name, url: person.url })"
                            >
                                <router-link
                                    class="d-block w-100"
                                    :to="{ name: 'detail', params: { url: person.url } }"
                                >
                                    {{ person.name }}
                                </router-link>
                            </b-list-group-item>
                        </b-list-group>
                        <div class="text-left" :key="2" v-else>
                            <h4>{{ persons }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-lg-0" v-if="$store.state.history.length > 0">
                <div class="row">
                    <div class="col-12 text-left">
                        <h2>История просмотров</h2>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <b-list-group>
                            <b-list-group-item
                                v-for="(person, index) in $store.state.history"
                                :key="index"
                                class="item"
                            >
                                <router-link
                                    class="d-block w-100"
                                    :to="{ name: 'detail', params: { url: person.url } }"
                                >
                                    {{ person.name }}
                                </router-link>
                            </b-list-group-item>
                        </b-list-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "search",
        data() {
            return {
                search: "",
                persons: "",
                loading: false
            };
        },
        methods: {
            getPersons() {
                if (!this.search) {
                    this.$bvToast.toast("Для поиска необходимо ввести имя персонажа", {
                        title: "Ошибка",
                        variant: "danger",
                        solid: true
                    });
                } else {
                    this.loading = true;
                    this.$http.get("https://swapi.co/api/people/?search=" + this.search).then(
                        res => {
                            if (res.data.results.length == 0) {
                                this.persons = "По вашему запросу ничего не найдено :(";
                            } else {
                                this.persons = res.data.results;
                            }
                            this.loading = false;
                        },
                        () => {
                            this.loading = false;
                            this.$bvToast.toast("Что то пошло не так, повторите попытку позже", {
                                title: "Ошибка",
                                variant: "danger",
                                solid: true
                            });
                        }
                    );
                }
            }
        }
    };
</script>

<style scoped>
    .item {
        text-align: left;
        cursor: pointer;
        padding: 0px;
    }

    .item a {
        color: black;
        text-decoration: none;
        padding: 0.75rem 1.25rem;
    }

    .item:hover {
        background: #28a745;
    }

    .item:hover a {
        color: white;
    }

    .input {
        border-right: 0px;
    }

    .input:focus {
        box-shadow: unset;
        outline: unset;
        border-color: #ced4da;
        border-right: 1px solid #28a745;
    }

    .input::placeholder {
        color: #c4c4c4;
    }

    .lds-ring {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 71px;
        height: 38px;
        border: 1px solid #ced4da;
        border-left: 0px;
        padding-right: 20px;
        border-radius: 0.25rem;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 31px;
        height: 31px;
        margin: 2px;
        border: 5px solid #28a745;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #28a745 transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
